body {

font-family: Arial;

background-color: #f4f6f9;

margin: 0;

padding: 20px;

color: #333333;

}


header {

text-align: center;

margin-bottom: 30px;

color: #1e3a8a; 

}


h1 {

margin: 0;

font-size: 2.2rem;

}


h2 {

text-align: center;

color: #475569;

margin-bottom: 20px;

}


#catalogo {

display: grid;

grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

gap: 20px;

max-width: 1000px;

margin: 0 auto;

padding: 10px;

}


.tarjeta-material {

background-color: #ffffff;

border-radius: 8px;

padding: 20px;

box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

border-top: 5px solid #0b0c10; 

transition: transform 0.2s, box-shadow 0.2s;

}


.tarjeta-material h3 {

margin-top: 0;

color: #1e293b;

font-size: 1.3rem;

}


.tarjeta-material p {

margin: 8px 0;

font-size: 0.95rem;

color: #64748b;

}




.disponible {

color: #16a34a; 

background-color: #f0fdf4;

}


.btn-prestamo {

background-color: #1e3a8a;

color: #ffffff;

border: none; 

padding: 10px 15px;

width: 100%;

}



.btn-prestamo:hover {

background-color: #68d81d; 

}